/LibreriaTienda/build/
/LibreriaTienda/dist/
/LibreriaTienda/nbproject/private/
/Tienda/Tienda-ejb/build/
/Tienda/Tienda-ejb/dist/
/Tienda/Tienda-ejb/nbproject/private/
/Tienda/Tienda-war/build/
/Tienda/Tienda-war/nbproject/private/
/Tienda/build/
/Tienda/dist/
/Tienda/nbproject/private/